[workspace]
members = [
    "common",
    "ebpf",
    "userspace"
]
resolver = "2"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
panic = "abort"

[profile.dev]
panic = "abort"

[profile.dev.package.ebpf]
opt-level = 3
codegen-units = 1
overflow-checks = false
